body {
    background-color: black;
    text-align: center;
    color: white;
    <font size=18> 
}
h1 {
    color: white;
}
p {
    color: pink;
}
.container {
    max-width: 800px
    margin:auto;
}
ul{
  list-style: none;
}
